:root{
    
    --black: black;
    --bleu: aqua;
    --text-shadow: .1rem .1rem .3rem #333;
    --box-shadow: .1rem .1rem .3rem #333;




}
*{
    margin: 0;padding: 0;
    box-sizing:border-box;
    text-transform: uppercase;
    font-family :'Exo-BlackItalic';
    transition: all .2s linear;

}
html{
    font-size: 62.5%;
}
 body{
    background-color: #333;

}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    z-index: 1;


}
header .Logo{
    font-size:1.6rem ;
    color: #fff;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;


}
.navbar ul li{
    margin: 2rem;
}



.navbar ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    text-shadow: var(text-shadow);

}
.navbar ul li a:hover{
    color: var(--bleu);
}


/*{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    display: none;



}*/

header .fa-bars{

    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    display: none;

}
.container{
    height: 100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;

}
.container.content{
    text-align: center;
    text-shadow: var(--text-shadow);
}
.container.content h1{
    font-size: 9rem;
    color:var(--bleu) ;
}
.container.content h2{
    font-size: 7rem;
    color:#fff;
}
.container.content button{
    outline: none;
    border: none;
    border-radius: 5rem;
    height: ;
}



@media (max-width: 768px) {
    

    html{
        font-size: 55%;
    }
    header .fa-bars{
        display: block;
    }
    .navbar{
        position:fixed;
        top: 0;left:-120%;
        height: 100vh;
        width: 100vw;
        background: rgab(0,0,0,.8);
        z-index: 100;


    }
    .navbar ul{
        height: 100%;
        width: 35rem;
        background: var(--black);
        flex-flow:column;
        justify-content: center;

    }
    .navbar ul li{
        margin: 2rem 0;
    }
    .navbar ul li a {
        font-size: 3rem ;
    }
    header .nav-toggle{
        left: 0;
    }
}
    













