:root {

    --black: black;
    --bleu: aqua;
    --text-shadow: .1rem .1rem .3rem #333;
    --box-shadow: .1rem .1rem .3rem #333;




}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Exo-BlackItalic';
    transition: all .2s linear;

}

html {
    font-size: 62.5%;
}

body {
    background-color: #333;

}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    z-index: 1;


}

header .Logo {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;


}

.navbar ul li {
    margin: 2rem;
}



.navbar ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    text-shadow: var(text-shadow);

}

.navbar ul li a:hover {
    color: var(--bleu);
}




header .fa-bars {

    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    display: none;

}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;


}

.container .content{
    text-align: center;
    text-shadow: var(--text-shadow);


}   
.container .content h1 {
    font-size: 7rem;
    color: var(--bleu);

    
}

.container .content h2{
    font-size: 7rem;
    color: #fff;

}
.container .content button{
    outline: none;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    width: 15rem;
    background: var(--bleu);
    cursor: pointer;
    font-size: 1.8rem;
    color: #fff;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
}
.container .content button:hover{
    background: var(--black);
    letter-spacing: .2rem;
}
.container .content icons{
    margin-top: 3rem;
}
.container .content .icons a{
    font-size: 1.7rem;
    height: 4rem;
    width: 4rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 4rem;
    background: #fff;
    text-decoration: none;
    color: var(--bleu);
    text-shadow: none;
    box-shadow: var(--box-shadow);
    margin: 0 .5rem;

}
.container .content .icons a:hover{
    background: var(--black);
    color: #fff;
}



.container .video-container{
    position: absolute;
    top:0;left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    object-fit: cover;


}
.container .video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);

}





@media (max-width: 768px) {


    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: -120%;
        height: 100vh;
        width: 100vw;
        background: rgab(0, 0, 0, .8);
        z-index: 100;


    }

    .navbar ul {
        height: 100%;
        width: 35rem;
        background: var(--black);
        flex-flow: column;
        justify-content: center;

    }

    .navbar ul li {
        margin: 2rem 0;
    }

    .navbar ul li a {
        font-size: 3rem;
    }

    header .nav-toggle {
        left: 0;
    }
}